<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dit.ie.health" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="@string/step_detector" android:required="false"/>

    <uses-feature
        android:name="@string/step_counter" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Exercise"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Calculator"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Food"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Calories"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Steps"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Diary"
            android:parentActivityName=".MainActivity"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Register"
            android:parentActivityName=".Login"
            android:label="back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings" >
        </activity>

    </application>

</manifest>
